mixin new-block(_variable)
    section
        h1= " Gulp construction is " + _variable + "! "
        h2 Happy hacking!
        p This is new content!
        p(id="jquery") 
        a(href="index.html") index
        
