include head/head
include content/new/content
include content/new/new-block/new-block


doctype html
html(lang="zxx")
    head
        +head("new-page", "main")

    body
        +content

        script( src ="./jslib/jquery.min.js")    
        script( src ="./jslib/bootstrap.min.js")    
        script( src ="./js/main.min.js")    
